@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Roboto+Mono:400,400i,700,700i');

:root {
    --main-bg-color: #000000;
    --main-text-color: #ffffff;
    --code-bg-color: #222222;
    --code-text-color: #ffffff;
}

body {
    font-family: 'Arimo', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.remark-container,
.remark-slide,
.remark-slide-content {
    background-color: var(--main-bg-color);
}

.remark-slide-scaler {
    box-shadow: unset;
    -webkit-box-shadow: unset;
}

h1,
h2,
h3 {
    font-family: 'Arimo', sans-serif;
}
.remark-code,
.remark-inline-code {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--code-bg-color);
    color: var(--code-text-color);
}
